.master-container {
  background-color: rgb(247, 247, 247);
}

.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid rgba(0,0,0,0.12);
  width: 100%;
  height: auto;
  margin: 0 auto;
  background-color: white;
}

.left-nav,
.right-nav {
  display: flex;
  align-items: center;
}

.left-nav {
  margin-left: 15px;
  position: relative;
  padding: 1px 1px;
}

.right-nav {
  padding: 10px;
  margin-left: 20px;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  overflow: hidden;
}

.signup-btn {
  padding: 0 1rem;
  transition: background-color 0.3s;
  background-color: rgb(32, 123, 150);
  border: 1px solid #1c627a;
  color: #fff;
}

.signup-btn:hover {
  background-color: rgb(25, 98, 121);
  color: white;
}

.login-btn,
.signup-btn {
  padding: 0 1rem;
  line-height: 2;
  font-size: 14px;
  margin: 12px 0 0;
  border-radius: 3px;
  cursor: pointer;
}

.login-btn {
  font-weight: bolder;
  border: none;
  background-color: transparent;
}

.login:hover {
  transition: color 0.3s;
  color: black;
}

.homepage-icon {
  width: 90px;
  /* height: 70px; */
  margin-top: 17px;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 9.75rem;
  height: 3.375rem;
}

.logo-text {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  margin-top: 17px;
  color: black;
  font-weight: bolder;
}


.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  display: inline;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  border: none;
  outline: none;
  color: #333;
  padding: 14px 16px;
  background-color: transparent;
  /* font-family: inherit; Important for vertical align on mobile phones */
  margin-top: 0; /* Important for vertical align on mobile phones */
  cursor: pointer;
}

.dropdown:hover .dropbtn {
  color: black;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: whitesmoke;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content-link {
  float: none;
  color: #666;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  cursor: pointer;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content-link:hover {
  background-color: rgba(0,0,0,.03);
  color: #333;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}