.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  /* overflow: auto; */
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.8);
}

.modal-signup-form {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid black;
  width: 60%;
}

/* .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} */


.close {
  color: rgb(193, 193, 193);
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.signup-h2 {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
  color: #333;
  margin: 0 0 3px;
  box-sizing: border-box;
  cursor: default;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  width: 396px;
  height: 27px;
  padding-top: 16px;
  text-rendering: optimizeLegibility;
}

.signup-input {
  width: 400px;
  height: 60px;
  padding: 16px;
  border: 1px solid rgba(0,0,0,0.12);
  border-radius: 3px;
  background-color: white;
  box-sizing: border-box;
  display: block;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin-bottom: 8px;
  text-align: start;

}

.empty {
  border: 1px solid red;
}

.empty ::placeholder{
  color: red;
}

.signup-input:focus {
  border: 1px solid rgb(172, 172, 172);
}

.login-button {
  background-color: #da3743;
  border-color: #b8222d;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  transition: background-color 300ms ease-out;
  padding: .875rem 1.75rem .9375rem;
  width: 400px;
  height: 60px;

}

.login-button:hover {
  background-color: #b8222d;
  color: white;
}