.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-signup-form {
  background-color: white;
  box-sizing: border-box;
  width: 465px;
  height: 860px;
  padding: 0 27px 27px 27px;
  padding-top: 15px;
  margin-top: 15px;
}

hr {
  border: 1px solid rgba(0,0,0,0.12);
  clear: both;
}

.close {
  color: rgb(193, 193, 193);
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.signup-h2 {
  font-size: 24px;
  font-style: normal;
  font-weight: lighter;
  line-height: 2;
  /* color: #333; */
  margin: 20px 0 0 0;
  box-sizing: border-box;
  cursor: default;
  display: block;
  font-family: 'Raleway', sans-serif;
  width: 396px;
  height: 27px;
  padding-top: 0px;
  color: rgb(85, 83, 83);
  text-rendering: optimizeLegibility;
}

.signup-input {
  width: 400px;
  height: 54px;
  padding: 16px;
  border: 1px solid rgba(0,0,0,0.12);
  border-radius: 3px;
  background-color: white;
  box-sizing: border-box;
  display: block;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  margin-bottom: 8px;
  text-align: start;
}

.empty {
  border: 1px solid red;
}

.empty ::placeholder{
  color: red;
}

.signup-input:focus {
  border: 1px solid rgb(172, 172, 172);
}

.signup-button {
  background-color: #da3743;
  border-color: #b8222d;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  transition: background-color 300ms ease-out;
  padding: .875rem 1.75rem .9375rem;
  width: 400px;
  height: 60px;
  margin-top: 0;
  margin-bottom: 10px;
}

.signup-button:hover {
  background-color: #b8222d;
  color: white;
}

.location {
  cursor: pointer;
  width: 400px;
  height: 54px;
  padding: 16px;
  border: 1px solid rgba(0,0,0,0.12);
  border-radius: 3px;
  background-color: white;
  box-sizing: border-box;
  display: block;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  margin-bottom: 8px;
  text-align: start;
}

.privacy-policy-link {
  color: #da3743;
}

.errors {
  color: #da3743;
  list-style: none;
}